<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API pour le Port de Plaisance Russell</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/dashboard">Accueil</a></li>
                <li><a href="/users">Utilisateurs</a></li>
                <li><a href="/catways">Catways</a></li>
                <li><a href="/reservations">Réservations</a></li>
                <li><a href="api-doc">Documentation</a></li>
                <li><a href="/logout">Déconnexion</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>Bienvenue, </h2>
        <p>Votre adresse email: </p>
        <p>Date du jour : </p>

    </main>

    
</body>
</html>