<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API pour le Port de Plaisance Russell</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/dashboard">Accueil</a></li>
                <li><a href="/users-ejs">Utilisateurs</a></li>
                <li><a href="/catways-ejs">Catways</a></li>
                <li><a href="/reservations-ejs">Réservations</a></li>
                <li><a href="api-doc-ejs">Documentation</a></li>
                <li><a href="/logout-ejs">Déconnexion</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        
    </main>

    
</body>
</html>